<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.apache.hdt.mrnature"
         name="MapReduce Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.apache.hdt.core.natures.MapReduceNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.apache.hdt.core.PropertyTester"
            id="org.apache.hdt.core.mapreduce.deployable"
            namespace="mapreduce"
            properties="deployable"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
      <propertyTester
            class="org.apache.hdt.core.PropertyTester"
            id="org.apache.hdt.core.mapreduce.server"
            namespace="mapreduce"
            properties="server"
            type="org.eclipse.wst.server.core.IServer">
      </propertyTester>
   </extension>

</plugin>
