<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.apache.hadoop.eclipse.dfs.DFSContentProvider"
            icon="resources/elephantblue16x16.gif"
            id="org.apache.hdt.dfs.views.dfscontent"
            labelProvider="org.apache.hdt.dfs.core.DFSContentProvider"
            name="Hadoop Distributed File Systems"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.apache.hdt.dfs.core.DFSPath">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        forcePluginActivation="true"
                        property="mapreduce.deployable">
                  </test>
               </adapt>
            </or>
         </triggerPoints>
         <actionProvider
               class="org.apache.hadoop.eclipse.dfs.ActionProvider">
         </actionProvider>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.wst.server.core.IServer">
               </instanceof>
               <instanceof
                     value="org.apache.hdt.dfs.core.DFSLocationsRoot">
               </instanceof>
               <instanceof
                     value="org.apache.hdt.dfs.core.DFSLocation">
               </instanceof>
               <instanceof
                     value="org.apache.hdt.dfs.core.DFSPath">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
      <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.apache.hdt.dfs.DFSViewer">
            
          <popupMenu
                allowsPlatformContributions="true"
                id="org.apache.hdt.dfs.DFSViewer#PopupMenu">  
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>   
             <insertionPoint name="group.edit"
                   separator="true"/>   
             <insertionPoint name="group.reorganize" />         
             <insertionPoint
                   name="group.port"
                   separator="true"/>     
             <insertionPoint
                   name="group.build"
                   separator="true"/> 
             <insertionPoint
                   name="group.generate"
                   separator="true"/> 
             <insertionPoint
                   name="group.search"
                   separator="true"/>              
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="group.properties"
                   separator="true"/>
          </popupMenu>
            
      </viewer>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.apache.hdt.dfs.views.dfscontent"/>
            <actionExtension pattern="org.apache.hdt.dfs.views.dfscontent.*"/>
         </includes>
      </viewerContentBinding>
   </extension>
</plugin>
