<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.commands">
      <command id="dfs.browser.action.delete"
         name="Delete DFS location">
      </command>
      <command id="dfs.browser.action.disconnect"
            name="Disconnect DFS location">
      </command>
      <command id="dfs.browser.action.refresh"
            name="Refresh DFS location">
      </command>
      <command id="dfs.browser.action.download"
            name="Download from DFS">
      </command>
   </extension>      
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.apache.hdt.dfs.core.DFSContentProvider"
            icon="resources/elephantblue16x16.gif"
            id="org.apache.hdt.dfs.views.dfscontent"
            labelProvider="org.apache.hdt.dfs.core.DFSContentProvider"
            name="Hadoop Distributed File Systems"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.apache.hdt.dfs.core.DFSPath">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        forcePluginActivation="true"
                        property="mapreduce.deployable">
                  </test>
               </adapt>
            </or>
         </triggerPoints>
         <actionProvider
               class="org.apache.hdt.dfs.ui.DFSActionProvider">
         </actionProvider>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.wst.server.core.IServer">
               </instanceof>
               <instanceof
                     value="org.apache.hdt.dfs.core.DFSLocationsRoot">
               </instanceof>
               <instanceof
                     value="org.apache.hdt.dfs.core.DFSLocation">
               </instanceof>
               <instanceof
                     value="org.apache.hdt.dfs.core.DFSPath">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
      <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.apache.hdt.dfs.DFSViewer">
            
          <popupMenu
                allowsPlatformContributions="true"
                id="org.apache.hdt.dfs.DFSViewer#PopupMenu">  
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>   
             <insertionPoint name="group.edit"
                   separator="true"/>   
             <insertionPoint name="group.reorganize" />         
             <insertionPoint
                   name="group.port"
                   separator="true"/>     
             <insertionPoint
                   name="group.build"
                   separator="true"/> 
             <insertionPoint
                   name="group.generate"
                   separator="true"/> 
             <insertionPoint
                   name="group.search"
                   separator="true"/>              
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="group.properties"
                   separator="true"/>
          </popupMenu>
            
      </viewer>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.apache.hdt.dfs.views.dfscontent"/>
            <actionExtension pattern="org.apache.hdt.dfs.views.dfscontent.*"/>
         </includes>
      </viewerContentBinding>
   </extension>
</plugin>
