<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.apache.hdt.ui.preferences.MapReducePreferencePage"
            id="org.apache.hdt.ui.preferences.MapReducePreferencePage"
            name="Hadoop">
      </page>
   </extension>

</plugin>
